##>
##> Personalizacion de la configuracion de un recurso de un usuario en particular
##> -----------------------------------------------------------------------------

[{RESOURCE_NAME}]
  comment    = {COMMENT}
  path       = {PATH}
  browseable = yes
  writeable  = {WRITEABLE}
  public     = no
