# File  : samba.config
# Brief : Configuration file for QuickSambaServer [example2]
#============================================================================

SERVER_NAME=EXAMPLE2
NETBIOS=Yes
AVAHI=Yes

# Configuration of available resources
# ------------------------------------
# Each line follows the format:
#    RESOURCE= name | directory | description
# Where:
#    > name        : the name of the resource
#    > directory   : the directory where the resource is located
#    > description : a brief explanation of the resource
#

#         resource      | directory     | description
RESOURCE= AliceHome     | ./alice_files | "This resource contains files exclusive to Alice"
RESOURCE= BobHome       | ./bob_files   | "This resource contains files exclusive to Bob"
RESOURCE= Documentation | ./doc_files   | "Samba documentation files"



# Configuration of authorized users
# ---------------------------------
# Each line can be one of the following two formats:
#     USER= name | password | resources
# Where:
#     > name     : the username
#     > password : the user's password
#     > resources: name of one or several resources separated by commas
#                  (resource names must match those defined above)
#

#     user  | password | resources
USER= alice | alice    | AliceHome,Documentation
USER= bob   | bob      | BobHome,Documentation

