# File  : samba.config
# Brief : Configuration file for QuickSambaServer [example3]
#============================================================================


# Configuration of available resources
# ------------------------------------
# Each line follows the format:
#    RESOURCE= name | directory | description
# Where:
#    > name        : the name of the resource
#    > directory   : the directory where the resource is located
#    > description : a brief explanation of the resource
#
# Resources are shared as read-only by default.
# Prefixes:
#    > w: (read & write) - The resource is shared as read and write.
#    > -  (invisible)    - The resource is hidden from all users but can be assigned to specific users in the user configuration.
#

#         resource        | directory     | description
RESOURCE=   FreeAccess    | ./FreeAccess  | "Accessible to everyone without a password"
RESOURCE=   Documentation | ./doc_files   | "Samba documentation files"
RESOURCE= w:Repository    | ./Repository  | "Centralized repository for file sharing and collaboration"
RESOURCE=  -AliceHome     | ./alice_files | "This resource contains files exclusive to Alice"
RESOURCE=  -ROMs          | ./ROMs        | "MSX ROMs collection"


# List of resources that are accessible to all users without authentication.
# This should include only the resources meant to be open to the public.
PUBLIC_RESOURCES=FreeAccess

# Sets the permissions for newly created directories to 770
# (owner: read, write, execute; group: read, write, execute)
NEW_DIR_MODE=770

# Sets the permissions for newly created files to 660
# (owner: read, write; group: read, write)
NEW_FILE_MODE=660


# Configuration of users and their resource access
# ------------------------------------------------
# Each line follows the format:
#    USER= username | password | resources
# Where:
#    > username  : the name of the user
#    > password  : the user's password
#    > resources : a list of resources accessible by the user
#                  (resource names must match those defined above)
#
# Resources can be specified with prefixes:
#    > w:   (read & write) - The user has read and write access to the resource.
#    > --   (remove)       - The resource is explicitly removed from the user's access.
#

#     user  | password | resources
USER= alice | alice    | w:AliceHome     w:FreeAccess -Documentation
USER= bob   | bob      | w:Documentation w:FreeAccess ROMs
USER= carol | carol    |                 w:FreeAccess
USER= dave  | dave     | r:Repository    w:FreeAccess ROMs

