#!/bin/bash
# File  : samba.config
# Brief : Configuration file for QuickSambaServer [example3]
# Note  :
#   This file begins with '#!/bin/bash' solely to enable syntax highlighting
#   in text editors, as it loosely follows some bash scripting syntax.
#============================================================================



# Configuration of available resources
# ------------------------------------
# Each line follows the format:
#    RESOURCE= name | directory | description
# Where:
#    > name        : the name of the resource
#    > directory   : the directory where the resource is located
#    > description : a brief explanation of the resource
#

#         resource      | directory     | description
RESOURCE= AliceHome     | ./alice_files | "This resource contains files exclusive to Alice"
RESOURCE= Documentation | ./doc_files   | "Samba documentation files"
RESOURCE= Repository    |      -        | "Centralized repository for file sharing and collaboration"
RESOURCE= ROMs          |      -        | "MSX ROMs collection"



# Configuration of authorized users
# ---------------------------------
# Each line can be one of the following two formats:
#     USER= name | password | resources
# Where:
#     > name     : the username
#     > password : the user's password
#     > resources: name of one or several resources separated by commas
#                  (resource names must match those defined above)
#

#     user  | password | resources
USER=   -   |   -      | Documentation ; Repository ; ROMs
USER= alice | alice    | AliceHome ; Documentation ; Repository<W>
USER= bob   | bob      | Documentation<W> ; Repository<W> ; ROMs
USER= carol | carol    | Documentation ; Repository<W> ; ROMs
USER= dave  | dave     | Documentation ; Repository<W> ; ROMs
